/* Reset dasar */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: burlywood;
    padding: 10px 20px;
    color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo img {
    height: 50px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

section {
    padding: 40px 20px;
    text-align: center;
}

/* Tombol utama */
.button {
    display: inline-block;
    background-color: burlywood;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: rgb(134, 100, 56);
}

/* Gambar */
section img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

section img:hover {
    transform: scale(1.05);
}

/* Produk */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-card {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 250px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.explore-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    background-color: burlywood;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.explore-button:hover {
    background-color: rgb(134, 100, 56)
}

/* Footer */

#produk{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}